%script(lang="javascript"  src="/javascripts/admin/select_time.js")
%script(lang="javascript"  src="/javascripts/admin/gift_pack_details.js")

%link(rel="stylesheet" type="text/css" href="/stylesheets/add_gift_pack.css")

%body
  =render 'admins/jarvis_admin_css'
  #page-content(style="margin:0;margin-right:15px !important" )
    %a.cursor-pointer(href="javascript:back_to_all_app()" )
      应用管理>>
    %a.cursor-pointer(href="/admins/all_gift_packs" )
      =@app[:name]
      >>
    =@gift_pack[:name]
    %br
    %br
    .add_app_1.row
      .add_app_1.text-right.col-xs-2
        礼包名称：
      .col-xs-3
        %input.height-28#name(type="text" value="#{@gift_pack[:name]}" )
      .add_app_1.text-right.col-xs-1
        礼包数量：
      .col-xs-3
        %input.height-28#amount(type="text" value="#{@gift_pack[:amount]}" )
      .add_app_1.text-right.col-xs-1
        礼包类型：
      .col-xs-2
        %select#gift_packs_select( name='gift_pack_category' rel="#{@gift_pack[:gift_pack_type]}")
          %option --请选择类别--
          %option 优惠券
    %br
    .add_app_1.row
      .add_app_1.text-right.col-xs-2
        换取是否扣除积分：
      .col-xs-2.padding-right-0(style="width:140px" )
        %input#deduct_integral.height-28( type="text")
        分
      .col-xs-1.text_left(style="width: 70px;" )
        %label
          %input#is_deduct(name="IfDeduct" type="radio"  rel="#{@gift_pack[:deduct_integral]}")
          是
      .col-xs-1
        %label
          %input#no_deduct(name="IfDeduct" type="radio")
          否
    %br
    .add_app_1.row
      .add_app_1.text-right.col-xs-2#applicable_time(rel="#{@gift_pack[:applicable_time]}")
        适用时间：
      .col-xs-3.padding-right-0
        #begin
      .col-xs-1.text_center.zhi
        至
      .col-xs-3.padding-0
        #end
      .col-xs-1
        %input#permanent(type="checkbox")
        永久
    %br
    .add_app_1.row
      .add_app_1.text-right.col-xs-2
        礼包详情：
      .col-xs-10.font-size-14
        =render 'admins/editor'
        #editor_gift_pack_detail
          =raw @gift_pack[:detail]

    %br
    .add_app_1.row
      .add_app_1.text-right.col-xs-2
        礼包卡号：
        （请用逗号分割各卡号，卡号间不得有空格）
      .col-xs-10
        %textarea.font-17#editor_gift_pack_card_nums( placeholder="请用逗号分割各卡号，卡号间不得有空格 ...")
          =@gift_pack[:card_nums]
    .row.no-margin.text-center.hide#post_tips
      %p.post-tip
        正在上传数据,请耐心等待...
    .row
      .text-right.col-xs-6
        %button.btn-local(onclick="post_gift_pack_data()" )
          保存
      .col-xs-6
        %button.btn-local(onclick="back_all_gift_pack_page()" )
          取消
    %br
    %br



